<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.apple.Dictionary</string>
	<key>CFBundleIdentifier</key>
	<string>nbjahan.launchbar.livedic</string>
	<key>CFBundleName</key>
	<string>Dictionary: Define (Live)</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>LBAssociatedApplication</key>
	<string>com.apple.Dictionary</string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Nima Jahanshahi</string>
		<key>LBChangelog</key>
		<string>
			Fixed: #1 (panic: reflect: call of reflect.Value.Float on zero Value)
		</string>
		<string>https://github.com/nbjahan/launchbar-livedic/releases/download/v1.1.1/Dictionary.Live-1.1.1.lbaction</string>
		<key>LBDownloadURL</key>
		<key>LBResult</key>
		<string>List of auto corrected words for the current query.</string>
		<key>LBSummary</key>
		<string>Live search in Dictionary.app with auto correction. Hold ⌃ to pass the exact query. Hold ⇧ to paste the item in the frontmost app.</string>
		<key>LBTwitter</key>
		<string>@nbjahan</string>
		<key>LBUpdateURL</key>
		<string>https://raw.githubusercontent.com/nbjahan/launchbar-livedic/master/src/Info.plist</string>
		<key>LBWebsiteURL</key>
		<string>http://github.com/nbjahan/launchbar-livedic</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.apple.Dictionary</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBScriptName</key>
			<string>dict</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Define</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 nbjahan</string>
</dict>
</plist>
